
/NodeRgbdAlignment:
  ros__parameters:
    sync:
      queue_size: 20
      max_interval: 1.0
    tf:
      base_link_id: world
      frame_id: odom
    frame_alignment:
      method: rgb
      methods: [rgbd, depth, rgb]
      includeKeyFrame: false
      trackKeyFrame: false
      includePrior: false
      initOnPrior: false
      features:
        min_gradients: [1.0,1.0,1.0,1.0]
        min_depth: 0.1
        max_depth: 30.0
        min_depth_diff: 0.1
        max_depth_diff: 30.0
        max_points_part: [0.05,0.05,0.05,0.05]
      loss:
        function: tdistribution
        functions: [None, Tukey, Huber, tdistribution]
        huber:
          c: 1.43
        tdistribution:
          v: 5.0
      pyramid:
        levels: [1.0, 0.5, 0.25, 0.125]
      solver:
        max_iterations: 100
        min_step_size: 0.000001
        min_gradient: 0.000000000001
        min_reduction: 0.99999999
        max_increase: 1.1
    prediction:
      model: NoMotion
      models: [NoMotion, ConstantMotion, Kalman]
      constant_motion:
        covariance: [0.01,0.01,0.01,0.01,0.01,0.01]
      kalman: 
      # uncertainties are 1 std errors in SI units
        initial_uncertainty:
          pose:
            translation: 0.0001 # [m]
            rotation: 0.0001 # [째]
          velocity:
            translation: 0.00001 # [m/s]
            rotation: 0.001 # [째/s]
        process_noise: # Q matrix
          pose:
            translation: 0.001 # [m]
            rotation: 0.0001 # [째]
          velocity:
            translation: 0.0001 # [m/s]
            rotation: 0.001 # [째/s]
    keyframe_selection:
      method: custom
      methods: [custom, idx, never]
      idx:
        period: 5
      custom:
        max_translation: 0.1
        max_rotation: 5.0
        min_visible_points: 0
    map:
      n_keyframes: 5
      n_frames: 2
    bundle_adjustment:
      max_iterations: 0
      huber_constant: 3.0
    log:
      config_dir: /home/ros/vslam_ros/install/vslam_ros/share/vslam_ros/config/log
      # root_dir: /home/ros/vslam_ros/log/run
      image:
        ImageWarped:
          show: false
          block: false
        Residual:
          show: false
          block: false
        Weights:
          show: false
          block: false
        Image:
          show: false
          block: false
        Template:
          show: false
          block: false
        Depth:
          show: false
          block: false
        Tracking:
          show: false
          block: false
        KeyFrames:
          show: false
          block: false
          save: false
        ErrorDistribution:
          show: false
          block: false
          save: false
        Kalman:
          show: false
          block: false
          save: true
          rate: 1
        Solver:
          show: false
          block: false
          save: false
          rate: 1
        Alignment:
          show: false
          block: false
          save: true
          rate: 1  
    qos_overrides:
      /parameter_events:
        publisher:
          depth: 1000
          durability: volatile
          history: keep_last
          reliability: reliable
      /tf:
        publisher:
          depth: 100
          durability: volatile
          history: keep_last
          reliability: reliable
#/NodeResultWriter:
#/NodeGtLoader:
/NodeReplayer:
  ros__parameters:
    delay: 0.0
    duration: -1.0
    timeout: 0.1
/NodeStereoDepth:
  ros__parameters:
  #for kitti: https://www.cvlibs.net/datasets/kitti/eval_scene_flow_detail.php?benchmark=stereo&result=67877bd6fcc43163421fa0108c7df83bbc69fea3
    stereo_algorithm: 1
    prefilter_cap: 63
    correlation_window_size: 5
    P1: 100.0
    P2: 800.0
    min_disparity: 0
    num_disparities: 128
    uniqueness_ratio: 10.0
    speckle_size: 100
    speckle_range: 32
    disp12_max_diff: 1
    full_dp: true


